
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "colemak_layer.h"
#include "qwerty_layer.h"

#include "num_layer.h"
#include "fn_layer.h"
#include "nav_layer.h"
#include "settings_layer.h"
#include "media_layer.h"
#include "char_layer.h"


&caps_word {
	continue-list = <UNDERSCORE BACKSPACE DELETE>;
};

/ {
	behaviors {
		left_bracket: tap_dance_0 {
			compatible = "zmk,behavior-tap-dance";
			label = "left_bracket";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp LPAR>, <&kp LEFT_SQUARE_BRACKET>;
		};

		right_bracket: tap_dance_1 {
			compatible = "zmk,behavior-tap-dance";
			label = "right_bracket";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp RPAR>, <&kp RIGHT_SQUARE_BRACKET>;
		};
	};

	combos {
		compatible = "zmk,combos";
		combo_caps {
			timeout-ms = <50>;
			key-positions = <15 20>;
			bindings = <&caps_word>;
		};

		combo_qwerty {
			timeout-ms = <50>;
			key-positions = <1 2>;
			bindings = <&tog 1>;
		};
	};

	keymap {
		compatible = "zmk,keymap";
		colemak_layer {
			bindings = <
				ColemakL1
				ColemakL2
				ColemakL3
				ColemakL4
			>;
		};

		qwerty_layer {
			bindings = <
				QwertyL1
				QwertyL2
				QwertyL3
				QwertyL4
			>;
		};

		num_layer {
			bindings = <
				NumL1
				NumL2
				NumL3
				NumL4
			>;
		};

		fn_layer {
			bindings = <
				FnL1
				FnL2
				FnL3
				FnL4
			>;
		};

		nav_layer {
			bindings = <
				NavL1
				NavL2
				NavL3
				NavL4
			>;
		};

		settings_layer {
			bindings = <
				SettingsL1
				SettingsL2
				SettingsL3
				SettingsL4
			>;
		};

		media_layer {
			bindings = <
				MediaL1
				MediaL2
				MediaL3
				MediaL4
			>;
		};

		char_layer {
			bindings = <
				CharL1
				CharL2
				CharL3
				CharL4
			>;
		};
	};
};
