
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "colemak_layer.h"
#include "num_layer.h"
#include "fn_layer.h"
#include "nav_layer.h"


&caps_word {
	continue-list = <UNDERSCORE BACKSPACE DELETE>;
};

/ {
	behaviors {
		td_tog: tap_dance_0 {
			compatible = "zmk,behavior-tap-dance";
			label = "TAP_DANCE_0";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp C>, <&kp Q>;
		};
	};

	combos {
		compatible = "zmk,combos";
		combo_caps {
			timeout-ms = <25>;
			key-positions = <15 20>;
			bindings = <&caps_word>;
		};
	};

	keymap {
		compatible = "zmk,keymap";
		default_layer {
			bindings = <
				ColemakL1
				ColemakL2
				ColemakL3
				ColemakL4
			>;
		};

		num_layer {
			bindings = <
				NumL1
				NumL2
				NumL3
				NumL4
			>;
		};

		fn_layer {
			bindings = <
				FnL1
				FnL2
				FnL3
				FnL4
			>;
		};

		nav_layer {
			bindings = <
				NavL1
				NavL2
				NavL3
				NavL4
			>;
		};
	};
};
