#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "colemak_hd_layer.h"
#include "bluetooth_layer.h"

/ {
	behaviors {
		td_lbr: tap_dance_0 {
			compatible = "zmk,behavior-tap-dance";
			label = "left_bracket";
			#binding-cells = <0>;
			tapping-term-ms = <180>;
			bindings = <&kp LBKT>, <&kp LPAR>;
		};

		td_rbr: tap_dance_1 {
			compatible = "zmk,behavior-tap-dance";
			label = "right_bracket";
			#binding-cells = <0>;
			tapping-term-ms = <180>;
			bindings = <&kp RBKT>, <&kp RPAR>;
		};

		td_esc: tap_dance_2 {
			compatible = "zmk,behavior-tap-dance";
			label = "right_bracket";
			#binding-cells = <0>;
			tapping-term-ms = <180>;
			bindings = <&kp GRAVE>, <&kp ESC>;
		};
	};

	keymap {
		compatible = "zmk,keymap";
		colemak_hd_layer {
			bindings = <
				ColemakL1
				ColemakL2
				ColemakL3
				ColemakL4
			>;
		};

		bluetooth_layer {
			bindings = <
				BluetoothL1
				BluetoothL2
				BluetoothL3
				BluetoothL4
			>;
		};
	};
};
