/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "colemak_hd_layer.h"
#include "bt_layer.h"

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				ColemakL1
				ColemakL2
				ColemakL3
				ColemakL4
			>;
		};

		bt_layer {
			bindings = <
				BtL1
				BtL2
				BtL3
				BtL4
			>;
		};
	};
};
