#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "bluetooth_layer.h"
#include "colemak_hd_layer.h"
#include "nav_layer.h"
#include "number_layer.h"

&caps_word {
	continue-list = <UNDERSCORE BACKSPACE DELETE>;
};

/ {
	behaviors {
		td_esc: tap_dance_0 {
			compatible = "zmk,behavior-tap-dance";
			label = "td_esc";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp GRAVE>, <&kp ESC>;
		};
	};

	combos {
		compatible = "zmk,combos";
		combo_caps {
			timeout-ms = <50>;
			key-positions = <15 20>;
			bindings = <&caps_word>;
			layers = <0>;
		};

		combo_LPAR {
			timeout-ms = <50>;
			key-positions = <15 16>;
			bindings = <&kp LPAR>;
			layers = <0>;
		};

		combo_RPAR {
			timeout-ms = <50>;
			key-positions = <19 20>;
			bindings = <&kp RPAR>;
			layers = <0>;
		};

		combo_LBKT {
			timeout-ms = <50>;
			key-positions = <3 4>;
			bindings = <&kp LBKT>;
			layers = <0>;
		};

		combo_RBKT {
			timeout-ms = <50>;
			key-positions = <7 8>;
			bindings = <&kp RBKT>;
			layers = <0>;
		};

		combo_LBRC {
			timeout-ms = <50>;
			key-positions = <27 28>;
			bindings = <&kp LBRC>;
			layers = <0>;
		};

		combo_RBRC {
			timeout-ms = <50>;
			key-positions = <31 32>;
			bindings = <&kp RBRC>;
			layers = <0>;
		};
	};

	keymap {
		compatible = "zmk,keymap";
		colemak_hd_layer {
			bindings = <
				ColemakL1
				ColemakL2
				ColemakL3
				ColemakL4
			>;
		};

		bluetooth_layer {
			bindings = <
				BluetoothL1
				BluetoothL2
				BluetoothL3
				BluetoothL4
			>;
		};

		nav_layer {
			bindings = <
				NavL1
				NavL2
				NavL3
				NavL4
			>;
		};

		number_layer {
			bindings = <
				NumberL1
				NumberL2
				NumberL3
				NumberL4
			>;
		};
	};
};
