if SHIELD_XIAOCORNE_LEFT

config ZMK_KEYBOARD_NAME
	default "Xiao Corne"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_XIAOCORNE_LEFT || SHIELD_XIAOCORNE_RIGHT

config ZMK_SPLIT
	default y

endif
